/*============================ Times ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/times.ttf') format('truetype');
  font-family: 'times';
  font-weight: normal;
  font-style: normal;
}

/*============================ Omegle ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/omegle.ttf') format('truetype');
  font-family: 'omegle;
  font-weight: normal;
  font-style: normal;
}

/*============================ Omegle ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/omegle.ttf') format('truetype');
  font-family: 'omegle;
  font-weight: normal;
  font-style: normal;
}

/*============================ Omegle ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/omegle.ttf') format('truetype');
  font-family: 'omegle;
  font-weight: normal;
  font-style: normal;
}
