/*============================ Times New Roman ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/times-new-roman.ttf') format('truetype');
  font-family: 'times';
  font-weight: normal;
  font-style: normal;
}

/*============================ Times New Roman Bold ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/times-new-roman-bold.ttf') format('truetype');
  font-family: 'timesBold';
  font-weight: normal;
  font-style: normal;
}

/*============================ Omegle ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/omegle.ttf') format('truetype');
  font-family: 'omegle';
  font-weight: normal;
  font-style: normal;
}

/*============================ Sonsieone Regular ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/sonsieone-regular.otf') format('truetype');
  font-family: 'sonsieone';
  font-weight: normal;
  font-style: normal;
}

/*============================ Abrilfatface Regular ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/abrilfatface-regular.ttf') format('truetype');
  font-family: 'abrilfatface';
  font-weight: normal;
  font-style: normal;
}

/*============================ Love Letters ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/love-letters.ttf') format('truetype');
  font-family: 'love-letters';
  font-weight: normal;
  font-style: normal;
}

/*============================ Ultra ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/ultra.ttf') format('truetype');
  font-family: 'ultra';
  font-weight: normal;
  font-style: normal;
}

/*============================ 111 Vivace ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/english-111-vivace.otf') format('truetype');
  font-family: '111-vivace';
  font-weight: normal;
  font-style: normal;
}

/*============================ Oleoscript ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/oleoscript.ttf') format('truetype');
  font-family: 'oleoscript';
  font-weight: normal;
  font-style: normal;
}

/*============================ Certificate ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/certificate-regular.ttf') format('truetype');
  font-family: 'certificate';
  font-weight: normal;;
  font-style: normal;
}

/*============================ Certificate Bold ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/english/certificate-bold.ttf') format('truetype');
  font-family: 'certificate-bold';
  font-weight: normal;
  font-style: normal;
}
