/*============================ solaiman-lipi ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/solaiman-lipi.ttf') format('truetype');
  font-family: 'solaiman-lipi';
  font-weight: normal;
  font-style: normal;
}

/*============================ shokun-tola ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/shokun-tola.ttf') format('truetype');
  font-family: 'shokun-tola';
  font-weight: normal;
  font-style: normal;
}

/*============================ mahfuj-kishoreganj ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/mahfuj-kishoreganj.ttf') format('truetype');
  font-family: 'mahfuj-kishoreganj';
  font-weight: normal;
  font-style: normal;
}

/*============================ Liyakat Bangladesh ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/liyakat-bangladesh.otf') format('truetype');
  font-family: 'liyakat-bangladesh';
  font-weight: normal;
  font-style: normal;
}

/*============================ Bornomala Bold ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/bornomala-bold.ttf') format('truetype');
  font-family: 'bornomala-bold';
  font-weight: normal;
  font-style: normal;
}

/*============================ Mahfuj AK ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/mahfuj-ak.ttf') format('truetype');
  font-family: 'mahfuj-ak';
  font-weight: normal;
  font-style: normal;
}

/*============================ Bangla Lipi ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/bangla-lipi.ttf') format('truetype');
  font-family: 'bangla-lipi';
  font-weight: normal;
  font-style: normal;
}

/*============================ Bensen Handwtiting ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/bensen-handwtiting.ttf') format('truetype');
  font-family: 'bensen-handwtiting';
  font-weight: normal;
  font-style: normal;
}

/*============================ Badhon Jananai 52 ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/badhon-jananai-52.ttf') format('truetype');
  font-family: 'badhon-jananai-52';
  font-weight: normal;
  font-style: normal;
}

/*============================ Bodhisatwa ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/bodhisatwa.ttf') format('truetype');
  font-family: 'bodhisatwa';
  font-weight: normal;
  font-style: normal;
}

/*============================ kumarkhali MJ ============================*/
@font-face {
  src: url('https://masumbillah6778.github.io/fonts/bangla/kumarkhali-mj.ttf') format('truetype');
  font-family: 'kumarkhali-mj';
  font-weight: normal;
  font-style: normal;
}
