@font-face {
  font-family: 'mahfuj-kishoreganj';
  src: url('mahfuj-kishoreganj.woff') format('woff'),
       url('mahfuj-kishoreganj.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
